@font-face {
  font-family: "normal";
  src: url("https://ignitedsstudios.github.io/IgnitedsLauncher/src/fonts/Mont-HeavyDEMO.otf")
    format("truetype");
}

@font-face {
  font-family: "titles";
  src: url("https://ignitedsstudios.github.io/IgnitedsLauncher/src/fonts/titles.ttf")
    format("truetype");
}

@font-face {
  font-family: "mojangles";
  src: url("../assets/fonts/MinecraftTen.ttf")
    format("truetype");
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;
  position: absolute;
  top: 20px;
  left: 50%; /* Mueve el contenedor al centro */
  transform: translateX(-50%); /* Ajusta la posición para el centrado */
  width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
}

#logo {
  width: 400px;
  margin-right: 10px;
}

#title {
  font-family: 'mojangles';
  font-size: 40px;
  color: white;
  text-shadow:
    2px 2px 3px black,
    4px 4px 5px black,
    6px 6px 7px black; /* Varias sombras para un efecto más grueso */
  text-align: center; /* Alinea el texto dentro del contenedor */
}

#content {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startButton {
  margin-bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#startImage {
  width: 30%;
  height: 30%;
  object-fit: contain;
}

#downloadButton {
  min-width: 10%;
  max-width: 30%;
  padding: 6px 12px;
  background-color: #9d0095;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'mojangles';
  border-bottom: 7px solid #7d0077;
  box-shadow: 0px 0px 0 2px black;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#downloadButton:active {
  margin-top: 2px;
  border-bottom: 5px solid #7d0077;
  box-shadow: 0px 2px 0 1px black;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  #startImage {
    width: 20%; /* Reduce el tamaño en pantallas más pequeñas */
    height: 20%;
  }

  #downloadButton {
    min-width: 20%; /* Ajusta el ancho mínimo */
    max-width: 40%; /* Ajusta el ancho máximo */
    padding: 4px 8px; /* Reduce el padding */
  }
}

@media (max-width: 480px) {
  #startImage {
    width: 40%; /* Reduce aún más el tamaño en pantallas muy pequeñas */
    height: 40%;
  }

  #downloadButton {
    min-width: 30%; /* Ajusta el ancho mínimo */
    max-width: 50%; /* Ajusta el ancho máximo */
    padding: 2px 4px; /* Reduce aún más el padding */
  }
}

/* CSS para evitar la selección de texto */
body {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* For Chrome, Safari, and Opera */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

#backgroundContainer {
  transition: opacity 0.5s ease-in-out; /* Cambia 0.5s por la duración que prefieras */
}

#bottomContainer {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px); /* Ajusta el ancho para hacer espacio para ambos elementos */
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center;
  left: 20px; /* Alinea el contenedor al lado izquierdo */
}

#reloadButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#reloadButton img {
  width: 25px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 25px;
  object-fit: contain;
}

#status {
  display: flex;
  align-items: center;
}

#statusIcon {
  width: 40px; /* Ajusta el tamaño del ícono */
  height: 40px;
  object-fit: contain;
}

#playersOnline {
  font-family: 'mojangles';
  color: white;
  margin-left: 10px;
}

#pingIcon {
  width: 20px; /* Ajusta el tamaño según sea necesario */
  height: 20px;
  object-fit: contain;
  margin-left: 10px; /* Espacio entre el icono de ping y el número de jugadores */
}

#ping {
  font-family: 'mojangles';
  color: white;
  margin-right: 2px;
  margin-left: 10px;
  font-size: 10px;
}